
{{#each posts as |post|}}
		<div class="post" style="width:130px; height:auto; margin-bottom:20px">
			<a href="https://reddit.com/{{post.permalink}}" target="_blank">{{post.title}}</a>
			<div class="img" style="background-color:{{post.user.color}}; margin-bottom:5px" >
		                <a href="https://reddit.com/{{post.permalink}}" target="_blank"><img src="{{post.thumbnail}}" width="110" height="90" ></a>
	            </div>
			{{#if post.user}}
	        	
	        	<br><br>
	        	<a href="https://reddit.com/{{post.permalink}}" target="_blank">{{post.user.name}}</a>
	        	
	        	
	        {{else}}
	        	No user
	        {{/if}}
	       
	            
        </div>

{{/each}}